@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  --ms-overflow-style:none; 
  scrollbar-width:none;
}

html,
body,
:root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --background: #000615;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    --background: #273043;
  }
} 

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-img{
  background-image: url("https://images.pexels.com/photos/3374210/pexels-photo-3374210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
  

}
